# Ignore virtual environment directories
venv/
.venv/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Docker and environment files
.dockerignore
Dockerfile
.env

# Ignore logs
*.log

# Ignore generated QR code directory
qr_codes/
